* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    display: inline-block;
    margin: 20px;
}

.generic-container {
    text-align: center;
    max-width: 850px;
    top: 50%;
    transform: translate(0%, -50%);
}

#password {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 40px;
    background-color: rgb(53, 53, 53);
    height: 50px;
    width: 400px;
    color: rgb(255, 255, 255);
}

#password:focus {
    background-color: rgb(53, 53, 53);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#submit {
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    background-color: #242424;
    color: white;
}

#submit:hover {
    background-color: #404040;
}

.input-password{
    position: relative;
} 

.result-container{
    display: none;
}
.result{
    font-size: 50px;
    position: relative;
    top: 40px;
}