.navbar-element{
    color: white;
    text-decoration: none;
    position: relative;
}
.navbar-element:hover{
    text-decoration: none;
    color: white;
}
.navbar-element:after {
    content: ''; /* aggiunge un contenuto vuoto dopo il testo */
    display: block; /* assicura che l'elemento abbia una dimensione e possa essere stilizzato */
    width: 0; /* larghezza iniziale della linea */
    height: 2px; /* altezza della linea */
    background-color: rgb(255, 255, 255); /* colore della linea */
    position: absolute; /* posizionamento assoluto rispetto al testo */
    bottom: -3px; /* spostamento verso il basso per allineare correttamente la linea */
    left: 50%; /* sposta l'inizio della linea al centro */
    transform: translateX(-50%); /* sposta la linea indietro di metà della sua larghezza per centrarla */
    transition: width 0.3s ease-in-out; /* effetto di transizione per rendere più fluido il cambio di larghezza */
}
.navbar-element:hover:after{
    width: 100%; /* aumenta la larghezza della linea al 100% durante il passaggio del mouse */
}